In [1]:
import pandas as pd
from bs4 import BeautifulSoup

pd.set_option('display.max_rows', None)

In [2]:
# 공통질문 character-set 변환
df_공통질문 = pd.read_csv("공통_질문내용2.csv", encoding="cp949")

In [3]:
df_공통질문.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [4]:
# "Unnamed: 8"부터 "Unnamed: 10"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_공통질문['내용2'] = df_공통질문.loc[:, 'Unnamed: 8':'Unnamed: 10'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [5]:
# 원하는 컬럼만 선택해서 df_공통질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_공통질문2 = df_공통질문[selected_columns]

In [6]:
# 산안질문 character-set 변환
df_산안질문 = pd.read_csv("산안_질문내용2.csv", encoding="cp949")

In [7]:
df_산안질문.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [8]:
# "Unnamed: 8"부터 "Unnamed: 12"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_산안질문['내용2'] = df_산안질문.loc[:, 'Unnamed: 8':'Unnamed: 12'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [9]:
# 원하는 컬럼만 선택해서 df_산안질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_산안질문2 = df_산안질문[selected_columns]

In [10]:
# 노사질문 character-set 변환
df_노사질문 = pd.read_csv("노사_질문내용2.csv", encoding="cp949")

In [11]:
df_노사질문.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [12]:
# "Unnamed: 8"부터 "Unnamed: 15"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_노사질문['내용2'] = df_노사질문.loc[:, 'Unnamed: 8':'Unnamed: 15'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [13]:
# 원하는 컬럼만 선택해서 df_노사질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_노사질문2 = df_노사질문[selected_columns]

In [14]:
# 고용질문 character-set 변환
df_고용질문 = pd.read_csv("고용_질문내용2.csv", encoding="cp949")

In [15]:
df_고용질문.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

In [16]:
# "Unnamed: 8"부터 "Unnamed: 18"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_고용질문['내용2'] = df_고용질문.loc[:, 'Unnamed: 8':'Unnamed: 18'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [17]:
# 원하는 컬럼만 선택해서 df_노사질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_고용질문2 = df_고용질문[selected_columns]

In [18]:
# 감독1질문, 감독2질문 character-set 변환
df_감독1질문 = pd.read_csv("감독_질문내용(~2024.08.20)2.csv", encoding="cp949")
df_감독2질문 = pd.read_csv("감독_질문내용(2024.08.20~)2.csv", encoding="cp949")

In [19]:
df_감독1질문.columns # 82까지
df_감독2질문.columns # 20까지

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [20]:
# "Unnamed: 8"부터 "Unnamed: 82"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_감독1질문['내용2'] = df_감독1질문.loc[:, 'Unnamed: 8':'Unnamed: 82'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

# "Unnamed: 8"부터 "Unnamed: 20"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_감독2질문['내용2'] = df_감독2질문.loc[:, 'Unnamed: 8':'Unnamed: 20'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [21]:
# 원하는 컬럼만 선택해서 df_감독1질문2, df_감독2질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_감독1질문2 = df_감독1질문[selected_columns]
df_감독2질문2 = df_감독2질문[selected_columns]

In [22]:
# 각 분야별 질문2 df에서 분야를 다시 정한다.
df_감독1질문2['분야'] = '노동'
df_감독2질문2['분야'] = '노동'
df_고용질문2['분야'] = '고용'
df_공통질문2['분야'] = '기타'
df_노사질문2['분야'] = '노동'
df_산안질문2['분야'] = '산안'

C:\Users\Moel\AppData\Local\Temp\ipykernel_8288\2696427687.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_감독1질문2['분야'] = '노동'
C:\Users\Moel\AppData\Local\Temp\ipykernel_8288\2696427687.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_감독2질문2['분야'] = '노동'
C:\Users\Moel\AppData\Local\Temp\ipykernel_8288\2696427687.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_고용질문2['분야'] = '고용'
C:\Users\Moel\AppData\Local\Temp\ipykernel_8288\2696427687.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_공통질문2['분야'] = '기타'
C:\Users\Moel\AppData\Local\Temp\ipykernel_8288\2696427687.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_노사질문2['분야'] = '노동'
C:\Users\Moel\AppData\Local\Temp\ipykernel_8288\2696427687.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_산안질문2['분야'] = '산안'

In [23]:
# 6개의 분야별 질문2를 하나로 합친다
df_질문2 = pd.concat([df_감독1질문2, df_감독2질문2, df_고용질문2, df_공통질문2, df_노사질문2, df_산안질문2], ignore_index=True)

In [24]:
# 잘 합쳐졌는지 확인
df_질문2.head()
df_질문2['분야'].value_counts()

분야
노동    5179
고용     575
산안     108
기타      46
Name: count, dtype: int64

In [25]:
# 등록일 형태를 14자리 문자열로 변환한다.
df_질문2['등록일'] = pd.to_datetime(df_질문2['등록일']).dt.strftime('%Y%m%d%H%M%S')

In [26]:
# 등록일 형태가 잘 변환되었는지 확인한다.
df_질문2.head()

,분야,질문명,등록일,등록자,첨부,답변수,조회수,내용2
0,노동,휴게시간 위반 여부 판단,20240830133518,백현우,,2,713,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."
1,노동,지방노동위원회 화해와 금품체불 진정사건의 관계,20240830102541,오윤아,,4,462,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."
2,노동,직장내 괴롭힘 관련하여 직장내괴롭힘 당사자가 모두 퇴사한 경우,20240830084139,이효정,,1,547,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."
3,노동,하루 결근 시 급여 계산 방법 문의,20240829160541,백현우,,1,510,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."
4,노동,퇴직급여보장법개정시행령 상시근로자수 산정 방식 관련입니다.,20240829121114,정대형,,1,205,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."

In [27]:
df_질문2['내용2'].str[:5].value_counts()

내용2
<html      4676
<p cl       167
<p>ㅇ         77
<p>안녕        68
<p>근로        53
\r\n<p>      38
<p>진정        37
<p>&n        32
<p>사업        23
<P ST        22
<p>20        21
<p>1.        20
<P cl        20
<p st        16
<p><f        16
<p><s        16
<p>수고        16
<p>00        13
<p>고용        12
<P \r\n      10
<p>육아         8
<p>임금         7
<p>건설         7
<p>고소         6
<p>해고         6
<p>연차         6
<p>-          6
<p>&l         6
<p>외국         6
<p>관내         5
<p>A사         5
<p>현재         5
<p>근기         5
<p>아파         5
<p>피진         5
<p><b         5
<p>A는         5
\r\n<p        5
<p>법인         4
<p>택시         4
<p>일용         4
<p>수급         4
<p>우리         4
<p>퇴직         4
<p>개인         4
<p>업무         4
<p>취업         4
<p>산업         4
<P>&n         4
<p>회사         3
<p>기간         3
<p>상실         3
<p>상시         3
<p>근무         3
<p>항상         3
<p>사용         3
<p>도산         3
<p>○          3
<p>첨부         3
<DIV          3
<p>산전         3
<p>첫째         3
<p>소정         3
<p>조선         3
<p>A          3
<p>확정         3
<p>통상         3
<p>모성         3
<p>체당         3
<p>실업         3
<p>감시         3
<p>식당         3
<p>피보         3
<p>붙임         3
<p>본사         3
<p>A라         2
<p>파견         2
<p>개정         2
<p>위탁         2
<p>금번         2
<p>바쁘         2
<p>\'         2
<SPAN         2
<P>(관         2
<p>임신         2
<p>문의         2
<p>범죄         2
<p>법          2
<p>질의         2
<p>주          2
<p>연봉         2
<p>불법         2
<p>신청         2
<p>ㅇㅇ         2
<p>*          2
<p>김0         2
<p>동사         2
<p>사회         2
<p>주간         2
<p>ㅇ남         2
<p>동          2
<p>*근         2
<p>집무         2
<p>산재         2
<p>0.         2
<p>0          2
<p>관련         2
<p>O          2
<p>입사         2
<p>신고         2
<p>궁금         2
<p>해당         2
<p>관광         2
<p>1년         2
<p>제조         2
<p>과태         2
<p>(사         2
<p>영어         1
<p>고객         1
<p>입주         1
<P>아녕         1
<p>청구         1
00공립어         1
<p>백0         1
<p>인터         1
<p>부정         1
<p>세입         1
<p>한글         1
<p>국립         1
<p>노조         1
<p>[사         1
<p>항운         1
<p>*택         1
<p>[관         1
<p>최근         1
<p>인권         1
<p>성희         1
<p>영업         1
<p>85         1
<p>병원         1
<p>요양         1
<p>앞의         1
<p>제          1
<p>연장         1
<P>호텔         1
<p>부제         1
최종 퇴직         1
<p>0*         1
<p>o동         1
<P>법인         1
<p>조금         1
<p>75         1
<p>변경         1
<p>이직         1
<p>예전         1
              1
<p>제가         1
<p>요점         1
<p>노사         1
<p>(진         1
<p>사실         1
<p>*당         1
<p>5.         1
<p>기업         1
<p>체불         1
<p>조0         1
<p>정0         1
<p>영세         1
<p>늘          1
<p>*간         1
ㅇ 현재          1
<p>H테         1
<p>휴업         1
<DIV>         1
<p>15         1
<P>요양         1
<p>단협         1
<p>여성         1
<p>포괄         1
<p>당사         1
<p>주택         1
<p>권고         1
<p>A원         1
<p>전세         1
<p>학교         1
<p>용량         1
<p>의사         1
\r\n<P>       1
<p>*현         1
<p>A(         1
<p>모텔         1
<p>A가         1
특정 업체         1
<p>어려         1
<p>초보         1
<p>상여         1
<p>상사         1
<p>사무         1
<p>(주         1
<p>폭행         1
<P>바쁘         1
<P>타워         1
<p>3조         1
요양보호사         1
<p>4조         1
<p>A근         1
고용허가제         1
<p>주야         1
<p>동양         1
<p>한          1
2011.         1
\r\n<DI       1
<p>ㅁ법         1
<p>법정         1
<p>출산         1
<p>예술         1
<p>찜질         1
<p>부두         1
<p>공립         1
<P>근로         1
<p>주유         1
<p>보건         1
<p>*동         1
<p>평소         1
<p>오피         1
<p>3개         1
<p>시장         1
<p>월급         1
<p>공장         1
5인 미만         1
<p>조카         1
<p>도급         1
<p>별도         1
<p>개벌         1
<p>상황         1
<P>진정         1
<p>노인         1
<p>비영         1
<p>크레         1
<p>다음         1
<p>운수         1
기간제법          1
<p>동일         1
<p>계약         1
<p>*산         1
<p>고양         1
<p>고견         1
<p>감단         1
<p>간단         1
<p>주4         1
<p>재직         1
<p>2명         1
<p>보육         1
<p>금일         1
<p>제5         1
<p>A지         1
<p>흔치         1
<p>지방         1
<p>특성         1
<p>공소         1
<p>한사         1
<p>예시         1
<P>지청         1
<p>*&         1
<p>OO         1
<p>독서         1
<p>최저         1
법령 또는         1
<p>기숙         1
<p>모          1
<p>부부         1
<p>건물         1
권리구제의         1
<p>부당         1
<p>직상         1
<p>■          1
<p>취득         1
건설현장의         1
<p>신종         1
<p>부천         1
<p>행정         1
<p>성과         1
<p>조언         1
<p>&q         1
<p>또          1
<p>좋은         1
<p>비정         1
지원대상자         1
<BLOC         1
<P>안녕         1
<P><F         1
<p>와이         1
<p>다름         1
<p>A기         1
<P>실업         1
<p>1차         1
<p>음주         1
<p>A:         1
\r\n<P        1
<p>지난         1
<p>매번         1
인터넷 기         1
<p>기본         1
<p>처음         1
<p>용역         1
<p>24         1
<p>배우         1
<p>신규         1
<p>최종         1
<p>**         1
A사 상황         1
<p>단시         1
<p>차상         1
대기기간          1
<p>중도         1
<p>재고         1
<p>사<         1
<p>청년         1
<p>중소         1
<p>식비         1
<p>종합         1
<p>[질         1
<p>골프         1
<P>성과         1
<p>NO         1
<p>A씨         1
1. 당해         1
<P>남녀         1
1. 사업         1
<p>인천         1
<p>비동         1
<p>5인         1
<p>19         1
<P>출산         1
<p>유급         1
<p>일당         1
<p>트럭         1
<p>창직         1
<P>A라         1
<P>1.         1
<P>육아         1
<p>만          1
출산예정일         1
<p>한국         1
영암의 대         1
<P CL         1
<P>임금         1
<p>평생         1
<p>9.         1
<p>지자         1
<p>복지         1
<p>간혹         1
<p>중대         1
<p>(개         1
<p>재외         1
<p>(현         1
<p>축사         1
<p>「근         1
예인선 및         1
<p>타          1
<p>-&         1
<P>-          1
<P><S         1
Name: count, dtype: int64

In [28]:
# 새로운 '내용_body' 컬럼 생성
def extract_body(content):
    if str(content).startswith('<html'):
        soup = BeautifulSoup(content, 'html.parser')
        body = soup.body
        return str(body) if body else ''
    else:
        return content

# '내용_body' 컬럼에 적용
df_질문2['내용_body'] = df_질문2['내용2'].apply(extract_body)

# '내용_body' 컬럼에서 <body>로 시작하면 해당 부분을 제거
df_질문2['내용_body'] = df_질문2['내용_body'].apply(
    lambda x: x[6:] if x.startswith('<body>') else x
)

# '내용_body' 컬럼에서 </body>로 끝나면 해당 부분을 제거
df_질문2['내용_body'] = df_질문2['내용_body'].apply(
    lambda x: x[:-7] if x.endswith('</body>') else x
)

In [29]:
# '등록일' 컬럼을 기준으로 오름차순 정렬
df_질문2 = df_질문2.sort_values(by='등록일', ascending=True)

In [30]:
df_질문2.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2', '내용_body'], dtype='object')

In [31]:
# 연번 컬럼을 추가하고, 322000 부터 1씩 증가하는 값을 입력한다.
df_질문2['연번'] = range(322000, 322000 + len(df_질문2))

In [32]:
df_질문2.head()

,분야,질문명,등록일,등록자,첨부,답변수,조회수,내용2,내용_body,연번
4762,노동,일용직 주휴수당지급관련 답변을 구합니다.,20090313152554,관리자,NaN,1,346,<p>일용직 주휴수당지급관련 답변을 구합니다.</p>\r\n,<p>일용직 주휴수당지급관련 답변을 구합니다.</p>\r\n,322000
4761,노동,차별시정제도에 대한 안내서 요청드립니다.,20090313152554,관리자,NaN,1,98,"<p>비정규직에 대한 차별처우 금지영역, 합리적 차별 내용, 차별시정절차 등 차별시...","<p>비정규직에 대한 차별처우 금지영역, 합리적 차별 내용, 차별시정절차 등 차별시...",322001
4760,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,관리자,NaN,1,298,<p>회사에서&nbsp;근무하는 근로자가 근로자인지 아닌지 판단할 수 있는 기준을 ...,<p>회사에서&nbsp;근무하는 근로자가 근로자인지 아닌지 판단할 수 있는 기준을 ...,322002
4759,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,김광실,NaN,2,249,<p>좋은 공간이 생겼네요. </p>\r\n<p>평소에 궁금하던 것들에 대해&nbs...,<p>좋은 공간이 생겼네요. </p>\r\n<p>평소에 궁금하던 것들에 대해&nbs...,322003
4758,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,김광실,NaN,2,335,<p>또 생각나는게 있어서 올립니다.</p>\r\n<p>어떻게 생각하면 간단한 것 ...,<p>또 생각나는게 있어서 올립니다.</p>\r\n<p>어떻게 생각하면 간단한 것 ...,322004

In [33]:
# 컬럼 순서를 바꾸고 필요없는 컬럼은 버린다
df_질문2 = df_질문2[['연번','분야', '질문명','내용_body', '등록자', '등록일']]

# 컬럼 이름을 바꾼다
df_질문2 = df_질문2.rename(columns={'내용_body':'질문내용'})

In [34]:
df_질문2.head()

,연번,분야,질문명,질문내용,등록자,등록일
4762,322000,노동,일용직 주휴수당지급관련 답변을 구합니다.,<p>일용직 주휴수당지급관련 답변을 구합니다.</p>\r\n,관리자,20090313152554
4761,322001,노동,차별시정제도에 대한 안내서 요청드립니다.,"<p>비정규직에 대한 차별처우 금지영역, 합리적 차별 내용, 차별시정절차 등 차별시...",관리자,20090313152554
4760,322002,노동,근로자성 판단기준을 알고 싶습니다,<p>회사에서&nbsp;근무하는 근로자가 근로자인지 아닌지 판단할 수 있는 기준을 ...,관리자,20090313152554
4759,322003,노동,"해고성립, 해고예고수당과 부당해고",<p>좋은 공간이 생겼네요. </p>\r\n<p>평소에 궁금하던 것들에 대해&nbs...,김광실,20090313152554
4758,322004,노동,"임금일할계산방법, 연차와 평균임금",<p>또 생각나는게 있어서 올립니다.</p>\r\n<p>어떻게 생각하면 간단한 것 ...,김광실,20090313152554

In [80]:
df_질문2 = df_질문2.rename(columns={'연번':'bbs_sn', '분야':'field', '질문명':'bbs_sj', '질문내용':'bbs_cn', '등록자':'register_nm', '등록일':'register_dt'})

In [81]:
df_질문2.head()

,bbs_sn,field,bbs_sj,bbs_cn,register_nm,register_dt
4762,322000,노동,일용직 주휴수당지급관련 답변을 구합니다.,<p>일용직 주휴수당지급관련 답변을 구합니다.</p>\r\n,관리자,20090313152554
4761,322001,노동,차별시정제도에 대한 안내서 요청드립니다.,"<p>비정규직에 대한 차별처우 금지영역, 합리적 차별 내용, 차별시정절차 등 차별시...",관리자,20090313152554
4760,322002,노동,근로자성 판단기준을 알고 싶습니다,<p>회사에서&nbsp;근무하는 근로자가 근로자인지 아닌지 판단할 수 있는 기준을 ...,관리자,20090313152554
4759,322003,노동,"해고성립, 해고예고수당과 부당해고",<p>좋은 공간이 생겼네요. </p>\r\n<p>평소에 궁금하던 것들에 대해&nbs...,김광실,20090313152554
4758,322004,노동,"임금일할계산방법, 연차와 평균임금",<p>또 생각나는게 있어서 올립니다.</p>\r\n<p>어떻게 생각하면 간단한 것 ...,김광실,20090313152554

In [82]:
# 통합_질문.csv 파일로 내보낸다.
df_질문2.to_csv("tb_bbs.csv", encoding='utf-8', index=False)

In [85]:
df_질문3 = df_질문2[['bbs_sn', 'field']]

In [87]:
df_질문3['ctrgy_no'] = df_질문3['field'].map({
    '고용': 1,
    '노동': 2,
    '산안': 3,
    '기타': 4
})

C:\Users\Moel\AppData\Local\Temp\ipykernel_8288\1033874512.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_질문3['ctrgy_no'] = df_질문3['field'].map({

In [89]:
df_질문3.to_csv("tb_bbs_ctgry_data.csv", encoding='utf-8', index=False)

In [36]:
# 답변 파일 읽기
df_감독답변 = pd.read_csv("감독_등록된 답변2.csv", encoding="cp949")
df_고용답변 = pd.read_csv("고용_등록된 답변2.csv", encoding="cp949")
df_공통답변 = pd.read_csv("공통_등록된 답변2.csv", encoding="cp949")
df_노사답변 = pd.read_csv("노사_등록된 답변2.csv", encoding="cp949")
df_산안답변 = pd.read_csv("산안_등록된 답변2.csv", encoding="cp949")

In [37]:
df_감독답변['분야']='노동'
df_고용답변['분야']='고용'
df_공통답변['분야']='기타'
df_노사답변['분야']='노동'
df_산안답변['분야']='산안'

In [38]:
# 분야별 답변을 하나로 합친다
df_답변 = pd.concat([df_감독답변, df_고용답변, df_공통답변, df_노사답변, df_산안답변], ignore_index=True)

In [39]:
# 등록일과 답변등록일 형태를 14자리 문자열로 변환한다.
df_답변['등록일'] = pd.to_datetime(df_답변['등록일']).dt.strftime('%Y%m%d%H%M%S')
df_답변['답변등록일'] = pd.to_datetime(df_답변['답변등록일']).dt.strftime('%Y%m%d%H%M%S')

In [40]:
# 답변제목과 답변내용을 합쳐서 답변 컬럼을 생성한다.
df_답변['답변'] = df_답변['답변제목'] + '\n' + df_답변['답변내용']

In [41]:
df_답변 = df_답변[['분야', '질문명', '등록일', '답변등록일', '답변등록자', '답변']]

In [42]:
# '답변등록일' 컬럼이 NaN인 행 삭제
df_답변 = df_답변.dropna(subset=['답변등록일'])
df_답변 = df_답변.dropna(subset=['답변등록자'])
df_답변 = df_답변.dropna(subset=['답변'])

In [43]:
df_답변[df_답변['답변등록일'].isna()]

Empty DataFrame
Columns: [분야, 질문명, 등록일, 답변등록일, 답변등록자, 답변]
Index: []

In [44]:
df_답변.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...
2,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,20090311153429,김성호,"[답변] 해고성립, 해고예고수당과 부당해고\n이번에도 앞서 답변하신 분과 다른 의견..."
3,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,20090310182444,김성호,"[답변] 임금일할계산방법, 연차와 평균임금\n참 어려운 문제입니다. 앞서 답변하신 ..."
4,노동,연차수당계산,20090313152554,20090310143729,김성호,[답변] 연차수당계산\n최근에 입사한 직원분들은 '03년 근로기준법 개정사항에 대하...

In [45]:
# 답변댓글 파일 읽기
df_감독댓글 = pd.read_csv("감독_등록된 답변에 달린 댓글2.csv", encoding="cp949")
df_고용댓글 = pd.read_csv("고용_등록된 답변에 달린 댓글2.csv", encoding="cp949")
df_공통댓글 = pd.read_csv("공통_등록된 답변에 달린 댓글2.csv", encoding="cp949")
df_노사댓글 = pd.read_csv("노사_등록된 답변에 달린 댓글2.csv", encoding="cp949")
df_산안댓글 = pd.read_csv("산안_등록된 답변에 달린 댓글2.csv", encoding="cp949")

In [46]:
df_감독댓글['분야']='노동'
df_고용댓글['분야']='고용'
df_공통댓글['분야']='기타'
df_노사댓글['분야']='노동'
df_산안댓글['분야']='산안'

In [47]:
# 분야별 답변을 하나로 합친다
df_댓글 = pd.concat([df_감독댓글, df_고용댓글, df_공통댓글, df_노사댓글, df_산안댓글], ignore_index=True)

In [48]:
df_댓글.head()

,분야,질문명,등록일,답변제목,답변등록일,댓글등록일,댓글등록자,댓글내용
0,노동,일용직 주휴수당지급관련 답변을 구합니다.,2009-03-13 15:25:54.0,[답변] 일용직 주휴수당지급관련 답변을 구합니다.,2009-02-26 10:54:18.0,NaN,NaN,NaN
1,노동,차별시정제도에 대한 안내서 요청드립니다.,2009-03-13 15:25:54.0,[답변] 차별시정제도에 대한 안내서 요청드립니다.,2009-02-26 17:30:17.0,NaN,NaN,NaN
2,노동,"해고성립, 해고예고수당과 부당해고",2009-03-13 15:25:54.0,"[답변] 해고성립, 해고예고수당과 부당해고",2009-02-27 17:27:13.0,NaN,NaN,NaN
3,노동,"임금일할계산방법, 연차와 평균임금",2009-03-13 15:25:54.0,"[답변] 임금일할계산방법, 연차와 평균임금",2009-02-27 17:54:16.0,NaN,NaN,NaN
4,노동,연차수당계산,2009-03-13 15:25:54.0,[답변] 연차수당계산,2009-03-10 14:37:29.0,2022-12-26 17:49:33.0,NaN,\r\n

In [49]:
# 등록일과 답변등록일, 댓글등록일 형태를 14자리 문자열로 변환한다.
df_댓글['등록일'] = pd.to_datetime(df_댓글['등록일']).dt.strftime('%Y%m%d%H%M%S')
df_댓글['답변등록일'] = pd.to_datetime(df_댓글['답변등록일']).dt.strftime('%Y%m%d%H%M%S')
df_댓글['댓글등록일'] = pd.to_datetime(df_댓글['댓글등록일']).dt.strftime('%Y%m%d%H%M%S')

In [50]:
# '댓글등록일' 컬럼이 NaN인 행 삭제
df_댓글 = df_댓글.dropna(subset=['댓글등록일'])
df_댓글 = df_댓글.dropna(subset=['댓글내용'])

In [51]:
# 댓글내용이 3글자 이내면 삭제
df_댓글 = df_댓글[df_댓글['댓글내용'].str.len() > 3]

In [52]:
df_답변.head(2)

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...

In [53]:
df_댓글.head(2)

,분야,질문명,등록일,답변제목,답변등록일,댓글등록일,댓글등록자,댓글내용
1919,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021213733,NaN,"그럼 급여도 정했을 것으로 보여지네요~\r\n사용자성만 문제되는 거라면,\r\n하갑..."
1920,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021103211,NaN,09:00~15:00 현장에 있으면서 현장 사진을 찍어 건설업자에게 보냈다고 합니다

In [54]:
# df_댓글을 df_답변 형태로 바꾼다
df_댓글['답변'] = df_댓글['답변제목'] + ' -> [댓글]' + df_댓글['댓글내용']

In [55]:
# df_질문2와 df_댓글을 '질문명'과 '등록일'을 기준으로 병합하여 '연번'만 가져오기
df_댓글2 = df_댓글.merge(df_질문2[['질문명', '등록일', '연번']], on=['질문명', '등록일'], how='left')

In [56]:
df_댓글2['연번'].value_counts()

연번
326471    10
324630    10
326168     9
324662     8
325228     8
326194     8
325482     7
325480     7
327014     6
327074     6
326225     6
326905     6
327298     6
325616     6
325591     6
325778     6
327654     5
327357     5
327309     5
327000     5
326900     5
324757     5
326807     5
326928     5
325614     5
325648     5
324964     5
325229     5
325514     5
326150     5
326157     5
327075     5
327038     5
324974     4
324854     4
326148     4
324932     4
324862     4
325563     4
325486     4
325401     4
325391     4
325357     4
325476     4
325231     4
325786     4
325627     4
325639     4
325653     4
324480     4
327266     4
326803     4
326465     4
326483     4
326798     4
327343     4
327390     4
327609     4
327575     4
327387     4
327774     4
325315     4
326775     4
324605     4
326184     4
326912     4
327260     4
324973     4
325223     4
325210     4
325111     4
326635     4
327259     4
325051     4
327420     3
327455     3
324384     3
327527     3
327525     3
324394     3
325372     3
324347     3
326055     3
324968     3
326146     3
327783     3
327824     3
327521     3
327572     3
327541     3
327860     3
327767     3
327755     3
327757     3
327628     3
327616     3
327356     3
326227     3
326342     3
326375     3
326431     3
326324     3
326610     3
326484     3
326540     3
326539     3
326871     3
326877     3
326777     3
326709     3
326703     3
326659     3
326878     3
324685     3
324713     3
327229     3
327244     3
327248     3
327271     3
327262     3
327308     3
327040     3
327078     3
324555     3
327002     3
327024     3
326991     3
326910     3
327293     3
324487     3
327150     3
327134     3
327216     3
326423     3
325981     3
324929     3
324894     3
326161     3
326211     3
326172     3
324845     3
326109     3
326080     3
326017     3
325634     3
325629     3
325747     3
325707     3
325358     3
325581     3
325590     3
324950     3
325038     3
325291     3
325251     3
325239     3
325213     3
325363     3
324277     3
324273     3
324260     2
323154     2
327822     2
326151     2
326033     2
325637     2
325532     2
325054     2
325053     2
324243     2
324714     2
326685     2
327746     2
327405     2
324308     2
324301     2
324298     2
325331     2
324970     2
324848     2
324708     2
325155     2
325150     2
325102     2
325063     2
327890     2
327879     2
327842     2
327753     2
327747     2
327732     2
327731     2
327730     2
327706     2
327703     2
327672     2
325195     2
325193     2
325176     2
325171     2
327638     2
327622     2
327621     2
327564     2
327562     2
327539     2
327537     2
324446     2
324410     2
324388     2
327533     2
327532     2
325019     2
325018     2
324991     2
325219     2
325218     2
327506     2
327451     2
327414     2
327404     2
327385     2
327381     2
327337     2
327333     2
327317     2
327315     2
327306     2
327305     2
327299     2
327297     2
325309     2
325286     2
325274     2
325244     2
325032     2
325029     2
324512     2
324508     2
324460     2
327292     2
327289     2
327264     2
327261     2
327255     2
327243     2
325426     2
325402     2
325386     2
325381     2
325380     2
327237     2
327225     2
327220     2
327190     2
327185     2
327164     2
327163     2
327160     2
327100     2
327099     2
327098     2
327096     2
327082     2
327059     2
327057     2
327056     2
327052     2
325470     2
325457     2
325444     2
325432     2
324639     2
324591     2
324566     2
324553     2
327047     2
327046     2
325479     2
327045     2
327032     2
327028     2
327026     2
327019     2
327013     2
327008     2
326998     2
326978     2
326932     2
326918     2
326869     2
324749     2
325554     2
325553     2
325552     2
324735     2
326857     2
326849     2
326845     2
326841     2
326837     2
326829     2
326828     2
326815     2
326805     2
326797     2
326796     2
326791     2
326790     2
326784     2
324990     2
324971     2
324954     2
324952     2
324937     2
326754     2
326751     2
326737     2
326736     2
326732     2
326728     2
326707     2
326705     2
326697     2
325625     2
325619     2
325608     2
325599     2
325597     2
326693     2
326690     2
326664     2
326662     2
326648     2
326637     2
326624     2
326590     2
326578     2
324761     2
326470     2
326455     2
326451     2
325660     2
325650     2
325626     2
326432     2
326420     2
326400     2
326390     2
326380     2
326291     2
326264     2
326209     2
326204     2
326175     2
324847     2
324839     2
326138     2
326129     2
325730     2
325712     2
325703     2
325697     2
326104     2
326103     2
326099     2
326095     2
326066     2
326060     2
326018     2
326003     2
325973     2
324934     2
324926     2
324917     2
324911     2
324899     2
325880     2
325827     2
325805     2
327125     2
326507     2
324253     2
326417     2
326328     2
326183     2
324288     2
324266     2
326437     2
325810     1
325842     1
324244     1
325441     1
325057     1
325052     1
325043     1
325039     1
325613     1
324509     1
324250     1
327736     1
327386     1
325430     1
324372     1
324366     1
324365     1
324362     1
324348     1
325898     1
325883     1
325856     1
325853     1
325833     1
325832     1
325830     1
325789     1
325784     1
325780     1
325773     1
325765     1
327005     1
326598     1
326577     1
326561     1
325961     1
325956     1
325944     1
325942     1
324935     1
324927     1
324924     1
324922     1
324921     1
324920     1
324919     1
324915     1
324901     1
325760     1
325759     1
325908     1
326070     1
326061     1
326058     1
326054     1
326045     1
326038     1
326025     1
326020     1
326000     1
325994     1
325990     1
325984     1
325982     1
325979     1
325967     1
325962     1
326111     1
325756     1
325752     1
325749     1
325748     1
325735     1
325727     1
325726     1
325721     1
325701     1
325696     1
325693     1
325686     1
326106     1
326094     1
326090     1
326171     1
324898     1
324896     1
324883     1
324881     1
324871     1
324869     1
324855     1
324853     1
324830     1
324825     1
326141     1
326132     1
326127     1
326122     1
326118     1
326295     1
326283     1
326276     1
326268     1
326262     1
326248     1
326210     1
326208     1
326200     1
326198     1
326193     1
326191     1
326189     1
326188     1
326186     1
326178     1
326439     1
326435     1
326434     1
326426     1
326425     1
326422     1
326413     1
326411     1
326408     1
326403     1
326398     1
326389     1
326355     1
326338     1
326316     1
326297     1
326449     1
326448     1
325681     1
325672     1
325670     1
325668     1
325663     1
325658     1
325657     1
325652     1
325651     1
325645     1
325633     1
325632     1
325631     1
326445     1
324772     1
324760     1
324758     1
326509     1
326506     1
326496     1
326480     1
326477     1
326476     1
326472     1
326464     1
326463     1
326462     1
326457     1
326456     1
326452     1
326556     1
326541     1
326537     1
326531     1
326526     1
324824     1
324815     1
324811     1
324810     1
324807     1
324805     1
324795     1
324789     1
324788     1
324783     1
324782     1
326683     1
326667     1
326663     1
326661     1
326655     1
326654     1
326650     1
326641     1
326634     1
326632     1
326616     1
326615     1
326612     1
326574     1
326560     1
326559     1
326706     1
326704     1
326702     1
326700     1
325623     1
325622     1
325612     1
325609     1
325604     1
325603     1
325600     1
325596     1
325595     1
325589     1
325587     1
326684     1
326767     1
326765     1
326764     1
326758     1
326756     1
326753     1
326750     1
326742     1
326740     1
326739     1
326734     1
326729     1
326725     1
326717     1
326716     1
326713     1
326787     1
326786     1
325582     1
324980     1
324972     1
324963     1
324960     1
324959     1
324956     1
324947     1
325580     1
325579     1
325576     1
326780     1
326779     1
326774     1
326838     1
326834     1
326827     1
326826     1
326822     1
326819     1
326817     1
326816     1
326814     1
326808     1
326806     1
326804     1
326802     1
326801     1
326795     1
326794     1
325525     1
324738     1
324726     1
324721     1
324712     1
324706     1
324693     1
324682     1
324678     1
324672     1
324664     1
326862     1
326861     1
326859     1
326856     1
326840     1
326872     1
326868     1
326864     1
324754     1
325575     1
325574     1
325572     1
325569     1
325561     1
325560     1
325559     1
325557     1
325556     1
325555     1
325536     1
325534     1
326920     1
326916     1
326909     1
326908     1
326904     1
326903     1
326902     1
326901     1
326899     1
326898     1
326897     1
326886     1
326883     1
326880     1
326875     1
326874     1
326993     1
326992     1
326990     1
326984     1
326975     1
326965     1
326953     1
326947     1
326944     1
326943     1
326941     1
326939     1
326938     1
326936     1
326933     1
326926     1
325471     1
327039     1
327037     1
327035     1
327034     1
327031     1
327025     1
327023     1
327021     1
327020     1
327011     1
327009     1
327007     1
327006     1
327003     1
326994     1
324561     1
327048     1
325522     1
325521     1
325513     1
325511     1
325508     1
325507     1
325504     1
325496     1
325494     1
325485     1
325483     1
325481     1
325477     1
325475     1
325461     1
325460     1
325455     1
325453     1
325449     1
325438     1
325436     1
325435     1
324658     1
324656     1
324653     1
324643     1
324635     1
324587     1
324584     1
324580     1
327122     1
327119     1
327114     1
327106     1
327101     1
327097     1
327093     1
327085     1
327068     1
327067     1
327055     1
327049     1
325467     1
325464     1
325463     1
325462     1
327224     1
327217     1
327205     1
327194     1
327187     1
327174     1
327167     1
327162     1
327146     1
327142     1
327136     1
327133     1
327132     1
327131     1
327128     1
327126     1
327242     1
327238     1
325419     1
325416     1
325413     1
325394     1
325392     1
325384     1
325374     1
325367     1
325359     1
325334     1
325325     1
327230     1
327228     1
327227     1
324472     1
324471     1
324467     1
324459     1
324453     1
324451     1
324450     1
327294     1
327285     1
327282     1
327276     1
327270     1
327269     1
327265     1
327263     1
327250     1
327302     1
325323     1
325301     1
325300     1
325281     1
325279     1
325275     1
325253     1
325232     1
325035     1
325028     1
327296     1
324533     1
324522     1
324521     1
324518     1
327362     1
327361     1
327360     1
327355     1
327352     1
327351     1
327346     1
327341     1
327331     1
327330     1
327328     1
327326     1
327319     1
327316     1
327314     1
327311     1
327450     1
327449     1
327441     1
327432     1
327430     1
327419     1
327409     1
327399     1
327397     1
327396     1
327395     1
327389     1
327380     1
327379     1
327377     1
327373     1
327529     1
327523     1
327519     1
327513     1
327512     1
327511     1
327507     1
327502     1
327498     1
327497     1
327496     1
327491     1
327475     1
327471     1
327454     1
327452     1
324399     1
324390     1
324383     1
324378     1
325024     1
325020     1
325014     1
325013     1
325008     1
324999     1
324995     1
324992     1
325227     1
325225     1
325220     1
327530     1
327582     1
327573     1
327571     1
327569     1
327558     1
327555     1
327550     1
327540     1
327535     1
324448     1
324438     1
324429     1
324418     1
324413     1
324411     1
324409     1
327666     1
327664     1
327659     1
327655     1
327637     1
327635     1
327629     1
327624     1
327617     1
327613     1
327612     1
327611     1
327602     1
327600     1
327595     1
327583     1
327682     1
327680     1
327677     1
327667     1
325215     1
325211     1
325203     1
325202     1
325197     1
325192     1
325186     1
325182     1
325181     1
325175     1
325170     1
325169     1
327778     1
327776     1
327775     1
327761     1
327759     1
327752     1
327750     1
327749     1
327741     1
327724     1
327719     1
327718     1
327715     1
327714     1
327707     1
327699     1
324523     1
324514     1
324466     1
323742     1
327899     1
327866     1
327864     1
327856     1
327840     1
327832     1
327823     1
327814     1
327805     1
327795     1
327787     1
327779     1
325085     1
324912     1
324895     1
325168     1
325138     1
325135     1
325124     1
325122     1
325119     1
325110     1
325107     1
325098     1
325084     1
325080     1
325073     1
324700     1
324340     1
324339     1
324334     1
324330     1
324323     1
324299     1
324292     1
325408     1
325351     1
325342     1
325317     1
325258     1
325161     1
325127     1
325113     1
325086     1
324246     1
325458     1
323693     1
326492     1
327593     1
326091     1
326084     1
326028     1
325991     1
325974     1
325859     1
325816     1
325812     1
324249     1
325692     1
325488     1
326551     1
326524     1
326521     1
326518     1
324257     1
326246     1
327246     1
327137     1
326855     1
326708     1
326599     1
324286     1
324284     1
324282     1
324268     1
324259     1
Name: count, dtype: int64

In [57]:
# '연번' 그룹별로 '답변등록일' 기준으로 오름차순으로 순서 매기기
df_댓글2['댓글순서'] = df_댓글2.groupby('연번')['댓글등록일'].rank(method='first', ascending=True)

In [58]:
# NaN 인 값에는 0을 입력하고 int로 변환한다.
df_댓글2['댓글순서'] = df_댓글2['댓글순서'].fillna(0).astype(int)

In [59]:
# 댓글순서가 0 인 행은 삭제한다.
df_댓글2 = df_댓글2[df_댓글2['댓글순서'] != 0]

In [60]:
df_댓글2.head()

,분야,질문명,등록일,답변제목,답변등록일,댓글등록일,댓글등록자,댓글내용,답변,연번,댓글순서
0,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021213733,NaN,"그럼 급여도 정했을 것으로 보여지네요~\r\n사용자성만 문제되는 거라면,\r\n하갑...","건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]그럼 급여도 정했을 것으로 ...",324243,2
1,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021103211,NaN,09:00~15:00 현장에 있으면서 현장 사진을 찍어 건설업자에게 보냈다고 합니다,"건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]09:00~15:00 현장에...",324243,1
2,노동,교육공무직 근로자 방학기간 주휴수당 문의드립니다.,20201021085445,관련 행정해석입니다,20201021090642,20201021101747,NaN,각급 학교의 공무직은 무기계약 근로자로서 근로를 제공하여 왔고 또한 계속적인 근로제...,관련 행정해석입니다 -> [댓글]각급 학교의 공무직은 무기계약 근로자로서 근로를 제...,324244,1
3,노동,해고예고 적용제외 대상의 판단기준 관련 문의,20201021154356,"우선, 소중한 질문 감사드립니다~~^^",20201021230357,20201022093206,NaN,파일을 올릴 방법이 없어 따로 메일로 보내드렸습니다.,"우선, 소중한 질문 감사드립니다~~^^ -> [댓글]파일을 올릴 방법이 없어 따로 ...",324246,1
4,노동,포괄임금제 항목 안에 연차수당이 포함되어 있는 경우 일할계산 기준,20201023172016,"포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은",20201025211015,20201029170446,NaN,"고정시간외근로수당, 주휴수당, 연차유급휴가미사용수당 등이 매월 고정적으로 지급된다면...","포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은 -> [...",324249,1

In [61]:
df_댓글2['답변등록일2'] = (df_댓글2['답변등록일'].astype(int) + df_댓글2['댓글순서']).astype(str)

In [62]:
df_댓글2.head()

,분야,질문명,등록일,답변제목,답변등록일,댓글등록일,댓글등록자,댓글내용,답변,연번,댓글순서,답변등록일2
0,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021213733,NaN,"그럼 급여도 정했을 것으로 보여지네요~\r\n사용자성만 문제되는 거라면,\r\n하갑...","건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]그럼 급여도 정했을 것으로 ...",324243,2,20201021062334
1,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021103211,NaN,09:00~15:00 현장에 있으면서 현장 사진을 찍어 건설업자에게 보냈다고 합니다,"건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]09:00~15:00 현장에...",324243,1,20201021062333
2,노동,교육공무직 근로자 방학기간 주휴수당 문의드립니다.,20201021085445,관련 행정해석입니다,20201021090642,20201021101747,NaN,각급 학교의 공무직은 무기계약 근로자로서 근로를 제공하여 왔고 또한 계속적인 근로제...,관련 행정해석입니다 -> [댓글]각급 학교의 공무직은 무기계약 근로자로서 근로를 제...,324244,1,20201021090643
3,노동,해고예고 적용제외 대상의 판단기준 관련 문의,20201021154356,"우선, 소중한 질문 감사드립니다~~^^",20201021230357,20201022093206,NaN,파일을 올릴 방법이 없어 따로 메일로 보내드렸습니다.,"우선, 소중한 질문 감사드립니다~~^^ -> [댓글]파일을 올릴 방법이 없어 따로 ...",324246,1,20201021230358
4,노동,포괄임금제 항목 안에 연차수당이 포함되어 있는 경우 일할계산 기준,20201023172016,"포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은",20201025211015,20201029170446,NaN,"고정시간외근로수당, 주휴수당, 연차유급휴가미사용수당 등이 매월 고정적으로 지급된다면...","포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은 -> [...",324249,1,20201025211016

In [63]:
df_답변.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...
2,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,20090311153429,김성호,"[답변] 해고성립, 해고예고수당과 부당해고\n이번에도 앞서 답변하신 분과 다른 의견..."
3,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,20090310182444,김성호,"[답변] 임금일할계산방법, 연차와 평균임금\n참 어려운 문제입니다. 앞서 답변하신 ..."
4,노동,연차수당계산,20090313152554,20090310143729,김성호,[답변] 연차수당계산\n최근에 입사한 직원분들은 '03년 근로기준법 개정사항에 대하...

In [64]:
df_댓글3 = df_댓글2[['분야', '질문명', '등록일', '답변등록일2', '댓글등록자', '답변']]

df_댓글3 = df_댓글3.rename(columns={'답변등록일2':'답변등록일', '댓글등록자':'답변등록자'})

df_댓글3['답변등록자'] = ''

In [65]:
# '답변등록일' 컬럼이 NaN인 행 삭제
df_댓글3 = df_댓글3.dropna(subset=['답변등록일'])
df_댓글3 = df_댓글3.dropna(subset=['답변'])

In [66]:
df_댓글3.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,20201021062334,,"건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]그럼 급여도 정했을 것으로 ..."
1,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,20201021062333,,"건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]09:00~15:00 현장에..."
2,노동,교육공무직 근로자 방학기간 주휴수당 문의드립니다.,20201021085445,20201021090643,,관련 행정해석입니다 -> [댓글]각급 학교의 공무직은 무기계약 근로자로서 근로를 제...
3,노동,해고예고 적용제외 대상의 판단기준 관련 문의,20201021154356,20201021230358,,"우선, 소중한 질문 감사드립니다~~^^ -> [댓글]파일을 올릴 방법이 없어 따로 ..."
4,노동,포괄임금제 항목 안에 연차수당이 포함되어 있는 경우 일할계산 기준,20201023172016,20201025211016,,"포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은 -> [..."

In [67]:
# 답변과 댓글 하나로 합친다
df_답변댓글 = pd.concat([df_답변, df_댓글3], ignore_index=True)

In [68]:
df_답변댓글.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...
2,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,20090311153429,김성호,"[답변] 해고성립, 해고예고수당과 부당해고\n이번에도 앞서 답변하신 분과 다른 의견..."
3,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,20090310182444,김성호,"[답변] 임금일할계산방법, 연차와 평균임금\n참 어려운 문제입니다. 앞서 답변하신 ..."
4,노동,연차수당계산,20090313152554,20090310143729,김성호,[답변] 연차수당계산\n최근에 입사한 직원분들은 '03년 근로기준법 개정사항에 대하...

In [69]:
# df_질문2와 df_답변을 '질문명'과 '등록일'을 기준으로 병합하여 '연번'만 가져오기
df_답변댓글2 = df_답변댓글.merge(df_질문2[['질문명', '등록일', '연번']], on=['질문명', '등록일'], how='left')

In [70]:
df_답변댓글2.columns

Index(['분야', '질문명', '등록일', '답변등록일', '답변등록자', '답변', '연번'], dtype='object')

In [71]:
df_답변댓글2.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변,연번
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...,322002
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...,322005
2,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,20090311153429,김성호,"[답변] 해고성립, 해고예고수당과 부당해고\n이번에도 앞서 답변하신 분과 다른 의견...",322003
3,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,20090310182444,김성호,"[답변] 임금일할계산방법, 연차와 평균임금\n참 어려운 문제입니다. 앞서 답변하신 ...",322004
4,노동,연차수당계산,20090313152554,20090310143729,김성호,[답변] 연차수당계산\n최근에 입사한 직원분들은 '03년 근로기준법 개정사항에 대하...,322006

In [72]:
# '연번' 그룹별로 '답변등록일' 기준으로 오름차순으로 순서 매기기
df_답변댓글2['답글순서'] = df_답변댓글2.groupby('연번')['답변등록일'].rank(method='first', ascending=True)

In [73]:
# NaN 인 값에는 0을 입력하고 int로 변환한다.
df_답변댓글2['답글순서'] = df_답변댓글2['답글순서'].fillna(0).astype(int)

In [74]:
# 답글순서가 0 인 행은 삭제한다.
df_답변댓글2 = df_답변댓글2[df_답변댓글2['답글순서'] != 0]

In [75]:
df_답변댓글2['답글순서'].value_counts()

답글순서
1     5745
2     2440
3     1098
4      518
5      243
6      138
7       77
8       39
9       21
10      12
11       7
12       5
13       4
14       3
17       1
16       1
15       1
Name: count, dtype: int64

In [76]:
# 답변연번 컬럼을 추가하고, 10000 부터 1씩 증가하는 값을 입력한다.
df_답변댓글2['답변연번'] = range(10000, 10000 + len(df_답변댓글2))

In [77]:
df_답변댓글2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10353 entries, 0 to 10352
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   분야      10353 non-null  object
 1   질문명     10353 non-null  object
 2   등록일     10353 non-null  object
 3   답변등록일   10353 non-null  object
 4   답변등록자   10353 non-null  object
 5   답변      10353 non-null  object
 6   연번      10353 non-null  int64
 7   답글순서    10353 non-null  int64
 8   답변연번    10353 non-null  int64
dtypes: int64(3), object(6)
memory usage: 728.1+ KB

In [78]:
# 컬럼 순서를 바꾸고 필요없는 컬럼은 버린다
df_답변댓글2 = df_답변댓글2[['답변연번', '연번', '분야', '질문명', '등록일', '답변등록일', '답변등록자', '답글순서', '답변']]

# 컬럼 이름을 바꾼다
df_답변댓글2 = df_답변댓글2.rename(columns={'연번':'게시판일련번호'})

In [83]:
df_답변댓글2 = df_답변댓글2.rename(columns={'연번':'bbs_sn', '분야':'field', '질문명':'bbs_sj',
                                     '등록일':'opinion_dt', '답변등록일':'register_dt',
                                     '답변등록자':'register_nm', '답변':'opinion_dc',
                                     '답글순서':'reply_opinion_no', '답변연번':'opinion_no'})

In [84]:
df_답변댓글2.to_csv("tb_bbs_opinion.csv", encoding="utf-8", index=False)