In [88]:
import pandas as pd
from bs4 import BeautifulSoup

pd.set_option('display.max_rows', None)

In [39]:
# 공통질문 character-set 변환
df_공통질문 = pd.read_csv("공통_질문내용2.csv", encoding="cp949")

In [41]:
df_공통질문.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [43]:
# "Unnamed: 8"부터 "Unnamed: 10"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_공통질문['내용2'] = df_공통질문.loc[:, 'Unnamed: 8':'Unnamed: 10'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [44]:
# 원하는 컬럼만 선택해서 df_공통질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_공통질문2 = df_공통질문[selected_columns]

In [47]:
# 산안질문 character-set 변환
df_산안질문 = pd.read_csv("산안_질문내용2.csv", encoding="cp949")

In [48]:
df_산안질문.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [49]:
# "Unnamed: 8"부터 "Unnamed: 12"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_산안질문['내용2'] = df_산안질문.loc[:, 'Unnamed: 8':'Unnamed: 12'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [50]:
# 원하는 컬럼만 선택해서 df_산안질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_산안질문2 = df_산안질문[selected_columns]

In [51]:
# 노사질문 character-set 변환
df_노사질문 = pd.read_csv("노사_질문내용2.csv", encoding="cp949")

In [52]:
df_노사질문.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [53]:
# "Unnamed: 8"부터 "Unnamed: 15"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_노사질문['내용2'] = df_노사질문.loc[:, 'Unnamed: 8':'Unnamed: 15'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [54]:
# 원하는 컬럼만 선택해서 df_노사질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_노사질문2 = df_노사질문[selected_columns]

In [55]:
# 고용질문 character-set 변환
df_고용질문 = pd.read_csv("고용_질문내용2.csv", encoding="cp949")

In [56]:
df_고용질문.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

In [57]:
# "Unnamed: 8"부터 "Unnamed: 18"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_고용질문['내용2'] = df_고용질문.loc[:, 'Unnamed: 8':'Unnamed: 18'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [58]:
# 원하는 컬럼만 선택해서 df_노사질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_고용질문2 = df_고용질문[selected_columns]

In [59]:
# 감독1질문, 감독2질문 character-set 변환
df_감독1질문 = pd.read_csv("감독_질문내용(~2024.08.20)2.csv", encoding="cp949")
df_감독2질문 = pd.read_csv("감독_질문내용(2024.08.20~)2.csv", encoding="cp949")

In [63]:
df_감독1질문.columns # 82까지
df_감독2질문.columns # 20까지

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [64]:
# "Unnamed: 8"부터 "Unnamed: 82"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_감독1질문['내용2'] = df_감독1질문.loc[:, 'Unnamed: 8':'Unnamed: 82'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

# "Unnamed: 8"부터 "Unnamed: 20"까지의 컬럼을 하나로 합쳐서 내용2에 저장
df_감독2질문['내용2'] = df_감독2질문.loc[:, 'Unnamed: 8':'Unnamed: 20'].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)

In [65]:
# 원하는 컬럼만 선택해서 df_감독1질문2, df_감독2질문2를 만든다.
selected_columns = ['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2']
df_감독1질문2 = df_감독1질문[selected_columns]
df_감독2질문2 = df_감독2질문[selected_columns]

In [82]:
# 각 분야별 질문2 df에서 분야를 다시 정한다.
df_감독1질문2['분야'] = '노동'
df_감독2질문2['분야'] = '노동'
df_고용질문2['분야'] = '고용'
df_공통질문2['분야'] = '기타'
df_노사질문2['분야'] = '노동'
df_산안질문2['분야'] = '산안'

C:\Users\Moel\AppData\Local\Temp\ipykernel_7876\2696427687.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_감독1질문2['분야'] = '노동'
C:\Users\Moel\AppData\Local\Temp\ipykernel_7876\2696427687.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_감독2질문2['분야'] = '노동'
C:\Users\Moel\AppData\Local\Temp\ipykernel_7876\2696427687.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_고용질문2['분야'] = '고용'
C:\Users\Moel\AppData\Local\Temp\ipykernel_7876\2696427687.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_공통질문2['분야'] = '기타'
C:\Users\Moel\AppData\Local\Temp\ipykernel_7876\2696427687.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_노사질문2['분야'] = '노동'
C:\Users\Moel\AppData\Local\Temp\ipykernel_7876\2696427687.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_산안질문2['분야'] = '산안'

In [110]:
# 6개의 분야별 질문2를 하나로 합친다
df_질문2 = pd.concat([df_감독1질문2, df_감독2질문2, df_고용질문2, df_공통질문2, df_노사질문2, df_산안질문2], ignore_index=True)

In [111]:
# 잘 합쳐졌는지 확인
df_질문2.head()
df_질문2['분야'].value_counts()

분야
노동    5179
고용     575
산안     108
기타      46
Name: count, dtype: int64

In [112]:
# 등록일 형태를 14자리 문자열로 변환한다.
df_질문2['등록일'] = pd.to_datetime(df_질문2['등록일']).dt.strftime('%Y%m%d%H%M%S')

In [113]:
# 등록일 형태가 잘 변환되었는지 확인한다.
df_질문2.head()

,분야,질문명,등록일,등록자,첨부,답변수,조회수,내용2
0,노동,휴게시간 위반 여부 판단,20240830133518,백현우,,2,713,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."
1,노동,지방노동위원회 화해와 금품체불 진정사건의 관계,20240830102541,오윤아,,4,462,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."
2,노동,직장내 괴롭힘 관련하여 직장내괴롭힘 당사자가 모두 퇴사한 경우,20240830084139,이효정,,1,547,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."
3,노동,하루 결근 시 급여 계산 방법 문의,20240829160541,백현우,,1,510,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."
4,노동,퇴직급여보장법개정시행령 상시근로자수 산정 방식 관련입니다.,20240829121114,정대형,,1,205,"<html xml:lang=""ko"" lang=""ko"">\r\n<head>\r\n<s..."

In [ ]:
df_질문2['내용2'].str[:5].value_counts()

In [ ]:
# 새로운 '내용_body' 컬럼 생성
def extract_body(content):
    if str(content).startswith('<html'):
        soup = BeautifulSoup(content, 'html.parser')
        body = soup.body
        return str(body) if body else ''
    else:
        return content

# '내용_body' 컬럼에 적용
df_질문2['내용_body'] = df_질문2['내용2'].apply(extract_body)

# '내용_body' 컬럼에서 <body>로 시작하면 해당 부분을 제거
df_질문2['내용_body'] = df_질문2['내용_body'].apply(
    lambda x: x[6:] if x.startswith('<body>') else x
)

# '내용_body' 컬럼에서 </body>로 끝나면 해당 부분을 제거
df_질문2['내용_body'] = df_질문2['내용_body'].apply(
    lambda x: x[:-7] if x.endswith('</body>') else x
)

In [116]:
# '등록일' 컬럼을 기준으로 오름차순 정렬
df_질문2 = df_질문2.sort_values(by='등록일', ascending=True)

In [117]:
df_질문2.columns

Index(['분야', '질문명', '등록일', '등록자', '첨부', '답변수', '조회수', '내용2', '내용_body'], dtype='object')

In [118]:
# 연번 컬럼을 추가하고, 322000 부터 1씩 증가하는 값을 입력한다.
df_질문2['연번'] = range(322000, 322000 + len(df_질문2))

In [119]:
df_질문2.head()

,분야,질문명,등록일,등록자,첨부,답변수,조회수,내용2,내용_body,연번
4762,노동,일용직 주휴수당지급관련 답변을 구합니다.,20090313152554,관리자,NaN,1,346,<p>일용직 주휴수당지급관련 답변을 구합니다.</p>\r\n,<p>일용직 주휴수당지급관련 답변을 구합니다.</p>\r\n,322000
4761,노동,차별시정제도에 대한 안내서 요청드립니다.,20090313152554,관리자,NaN,1,98,"<p>비정규직에 대한 차별처우 금지영역, 합리적 차별 내용, 차별시정절차 등 차별시...","<p>비정규직에 대한 차별처우 금지영역, 합리적 차별 내용, 차별시정절차 등 차별시...",322001
4760,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,관리자,NaN,1,298,<p>회사에서&nbsp;근무하는 근로자가 근로자인지 아닌지 판단할 수 있는 기준을 ...,<p>회사에서&nbsp;근무하는 근로자가 근로자인지 아닌지 판단할 수 있는 기준을 ...,322002
4759,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,김광실,NaN,2,249,<p>좋은 공간이 생겼네요. </p>\r\n<p>평소에 궁금하던 것들에 대해&nbs...,<p>좋은 공간이 생겼네요. </p>\r\n<p>평소에 궁금하던 것들에 대해&nbs...,322003
4758,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,김광실,NaN,2,335,<p>또 생각나는게 있어서 올립니다.</p>\r\n<p>어떻게 생각하면 간단한 것 ...,<p>또 생각나는게 있어서 올립니다.</p>\r\n<p>어떻게 생각하면 간단한 것 ...,322004

In [120]:
# 컬럼 순서를 바꾸고 필요없는 컬럼은 버린다
df_질문2 = df_질문2[['연번','분야', '질문명','내용_body', '등록자', '등록일']]

# 컬럼 이름을 바꾼다
df_질문2 = df_질문2.rename(columns={'내용_body':'질문내용'})

In [121]:
df_질문2.head()

,연번,분야,질문명,질문내용,등록자,등록일
4762,322000,노동,일용직 주휴수당지급관련 답변을 구합니다.,<p>일용직 주휴수당지급관련 답변을 구합니다.</p>\r\n,관리자,20090313152554
4761,322001,노동,차별시정제도에 대한 안내서 요청드립니다.,"<p>비정규직에 대한 차별처우 금지영역, 합리적 차별 내용, 차별시정절차 등 차별시...",관리자,20090313152554
4760,322002,노동,근로자성 판단기준을 알고 싶습니다,<p>회사에서&nbsp;근무하는 근로자가 근로자인지 아닌지 판단할 수 있는 기준을 ...,관리자,20090313152554
4759,322003,노동,"해고성립, 해고예고수당과 부당해고",<p>좋은 공간이 생겼네요. </p>\r\n<p>평소에 궁금하던 것들에 대해&nbs...,김광실,20090313152554
4758,322004,노동,"임금일할계산방법, 연차와 평균임금",<p>또 생각나는게 있어서 올립니다.</p>\r\n<p>어떻게 생각하면 간단한 것 ...,김광실,20090313152554

In [392]:
# 통합_질문.csv 파일로 내보낸다.
df_질문2.to_csv("통합_질문.csv", encoding='utf-8', index=False)

In [359]:
# 답변 파일 읽기
df_감독답변 = pd.read_csv("감독_등록된 답변2.csv", encoding="cp949")
df_고용답변 = pd.read_csv("고용_등록된 답변2.csv", encoding="cp949")
df_공통답변 = pd.read_csv("공통_등록된 답변2.csv", encoding="cp949")
df_노사답변 = pd.read_csv("노사_등록된 답변2.csv", encoding="cp949")
df_산안답변 = pd.read_csv("산안_등록된 답변2.csv", encoding="cp949")

In [360]:
df_감독답변['분야']='노동'
df_고용답변['분야']='고용'
df_공통답변['분야']='기타'
df_노사답변['분야']='노동'
df_산안답변['분야']='산안'

In [361]:
# 분야별 답변을 하나로 합친다
df_답변 = pd.concat([df_감독답변, df_고용답변, df_공통답변, df_노사답변, df_산안답변], ignore_index=True)

In [362]:
# 등록일과 답변등록일 형태를 14자리 문자열로 변환한다.
df_답변['등록일'] = pd.to_datetime(df_답변['등록일']).dt.strftime('%Y%m%d%H%M%S')
df_답변['답변등록일'] = pd.to_datetime(df_답변['답변등록일']).dt.strftime('%Y%m%d%H%M%S')

In [363]:
# 답변제목과 답변내용을 합쳐서 답변 컬럼을 생성한다.
df_답변['답변'] = df_답변['답변제목'] + '\n' + df_답변['답변내용']

In [364]:
df_답변 = df_답변[['분야', '질문명', '등록일', '답변등록일', '답변등록자', '답변']]

In [365]:
# '답변등록일' 컬럼이 NaN인 행 삭제
df_답변 = df_답변.dropna(subset=['답변등록일'])
df_답변 = df_답변.dropna(subset=['답변등록자'])
df_답변 = df_답변.dropna(subset=['답변'])

In [366]:
df_답변[df_답변['답변등록일'].isna()]

Empty DataFrame
Columns: [분야, 질문명, 등록일, 답변등록일, 답변등록자, 답변]
Index: []

In [331]:
df_답변.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...
2,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,20090311153429,김성호,"[답변] 해고성립, 해고예고수당과 부당해고\n이번에도 앞서 답변하신 분과 다른 의견..."
3,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,20090310182444,김성호,"[답변] 임금일할계산방법, 연차와 평균임금\n참 어려운 문제입니다. 앞서 답변하신 ..."
4,노동,연차수당계산,20090313152554,20090310143729,김성호,[답변] 연차수당계산\n최근에 입사한 직원분들은 '03년 근로기준법 개정사항에 대하...

In [367]:
# 답변댓글 파일 읽기
df_감독댓글 = pd.read_csv("감독_등록된 답변에 달린 댓글2.csv", encoding="cp949")
df_고용댓글 = pd.read_csv("고용_등록된 답변에 달린 댓글2.csv", encoding="cp949")
df_공통댓글 = pd.read_csv("공통_등록된 답변에 달린 댓글2.csv", encoding="cp949")
df_노사댓글 = pd.read_csv("노사_등록된 답변에 달린 댓글2.csv", encoding="cp949")
df_산안댓글 = pd.read_csv("산안_등록된 답변에 달린 댓글2.csv", encoding="cp949")

In [368]:
df_감독댓글['분야']='노동'
df_고용댓글['분야']='고용'
df_공통댓글['분야']='기타'
df_노사댓글['분야']='노동'
df_산안댓글['분야']='산안'

In [369]:
# 분야별 답변을 하나로 합친다
df_댓글 = pd.concat([df_감독댓글, df_고용댓글, df_공통댓글, df_노사댓글, df_산안댓글], ignore_index=True)

In [174]:
df_댓글.head()

,분야,질문명,등록일,답변제목,답변등록일,댓글등록일,댓글등록자,댓글내용
0,노동,일용직 주휴수당지급관련 답변을 구합니다.,2009-03-13 15:25:54.0,[답변] 일용직 주휴수당지급관련 답변을 구합니다.,2009-02-26 10:54:18.0,NaN,NaN,NaN
1,노동,차별시정제도에 대한 안내서 요청드립니다.,2009-03-13 15:25:54.0,[답변] 차별시정제도에 대한 안내서 요청드립니다.,2009-02-26 17:30:17.0,NaN,NaN,NaN
2,노동,"해고성립, 해고예고수당과 부당해고",2009-03-13 15:25:54.0,"[답변] 해고성립, 해고예고수당과 부당해고",2009-02-27 17:27:13.0,NaN,NaN,NaN
3,노동,"임금일할계산방법, 연차와 평균임금",2009-03-13 15:25:54.0,"[답변] 임금일할계산방법, 연차와 평균임금",2009-02-27 17:54:16.0,NaN,NaN,NaN
4,노동,연차수당계산,2009-03-13 15:25:54.0,[답변] 연차수당계산,2009-03-10 14:37:29.0,2022-12-26 17:49:33.0,NaN,\r\n

In [370]:
# 등록일과 답변등록일, 댓글등록일 형태를 14자리 문자열로 변환한다.
df_댓글['등록일'] = pd.to_datetime(df_댓글['등록일']).dt.strftime('%Y%m%d%H%M%S')
df_댓글['답변등록일'] = pd.to_datetime(df_댓글['답변등록일']).dt.strftime('%Y%m%d%H%M%S')
df_댓글['댓글등록일'] = pd.to_datetime(df_댓글['댓글등록일']).dt.strftime('%Y%m%d%H%M%S')

In [371]:
# '댓글등록일' 컬럼이 NaN인 행 삭제
df_댓글 = df_댓글.dropna(subset=['댓글등록일'])
df_댓글 = df_댓글.dropna(subset=['댓글내용'])

In [372]:
# 댓글내용이 3글자 이내면 삭제
df_댓글 = df_댓글[df_댓글['댓글내용'].str.len() > 3]

In [373]:
df_답변.head(2)

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...

In [294]:
df_댓글.head(2)

,분야,질문명,등록일,답변제목,답변등록일,댓글등록일,댓글등록자,댓글내용,답변
1919,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021213733,NaN,"그럼 급여도 정했을 것으로 보여지네요~\r\n사용자성만 문제되는 거라면,\r\n하갑...","건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]그럼 급여도 정했을 것으로 ..."
1920,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021103211,NaN,09:00~15:00 현장에 있으면서 현장 사진을 찍어 건설업자에게 보냈다고 합니다,"건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]09:00~15:00 현장에..."

In [374]:
# df_댓글을 df_답변 형태로 바꾼다
df_댓글['답변'] = df_댓글['답변제목'] + ' -> [댓글]' + df_댓글['댓글내용']

In [375]:
# df_질문2와 df_댓글을 '질문명'과 '등록일'을 기준으로 병합하여 '연번'만 가져오기
df_댓글2 = df_댓글.merge(df_질문2[['질문명', '등록일', '연번']], on=['질문명', '등록일'], how='left')

In [ ]:
df_댓글2['연번'].value_counts()

In [376]:
# '연번' 그룹별로 '답변등록일' 기준으로 오름차순으로 순서 매기기
df_댓글2['댓글순서'] = df_댓글2.groupby('연번')['댓글등록일'].rank(method='first', ascending=True)

In [377]:
# NaN 인 값에는 0을 입력하고 int로 변환한다.
df_댓글2['댓글순서'] = df_댓글2['댓글순서'].fillna(0).astype(int)

In [378]:
# 댓글순서가 0 인 행은 삭제한다.
df_댓글2 = df_댓글2[df_댓글2['댓글순서'] != 0]

In [301]:
df_댓글2.head()

,분야,질문명,등록일,답변제목,답변등록일,댓글등록일,댓글등록자,댓글내용,답변,연번,댓글순서
0,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021213733,NaN,"그럼 급여도 정했을 것으로 보여지네요~\r\n사용자성만 문제되는 거라면,\r\n하갑...","건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]그럼 급여도 정했을 것으로 ...",324243,2
1,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021103211,NaN,09:00~15:00 현장에 있으면서 현장 사진을 찍어 건설업자에게 보냈다고 합니다,"건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]09:00~15:00 현장에...",324243,1
2,노동,교육공무직 근로자 방학기간 주휴수당 문의드립니다.,20201021085445,관련 행정해석입니다,20201021090642,20201021101747,NaN,각급 학교의 공무직은 무기계약 근로자로서 근로를 제공하여 왔고 또한 계속적인 근로제...,관련 행정해석입니다 -> [댓글]각급 학교의 공무직은 무기계약 근로자로서 근로를 제...,324244,1
3,노동,해고예고 적용제외 대상의 판단기준 관련 문의,20201021154356,"우선, 소중한 질문 감사드립니다~~^^",20201021230357,20201022093206,NaN,파일을 올릴 방법이 없어 따로 메일로 보내드렸습니다.,"우선, 소중한 질문 감사드립니다~~^^ -> [댓글]파일을 올릴 방법이 없어 따로 ...",324246,1
4,노동,포괄임금제 항목 안에 연차수당이 포함되어 있는 경우 일할계산 기준,20201023172016,"포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은",20201025211015,20201029170446,NaN,"고정시간외근로수당, 주휴수당, 연차유급휴가미사용수당 등이 매월 고정적으로 지급된다면...","포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은 -> [...",324249,1

In [379]:
df_댓글2['답변등록일2'] = (df_댓글2['답변등록일'].astype(int) + df_댓글2['댓글순서']).astype(str)

In [303]:
df_댓글2.head()

,분야,질문명,등록일,답변제목,답변등록일,댓글등록일,댓글등록자,댓글내용,답변,연번,댓글순서,답변등록일2
0,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021213733,NaN,"그럼 급여도 정했을 것으로 보여지네요~\r\n사용자성만 문제되는 거라면,\r\n하갑...","건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]그럼 급여도 정했을 것으로 ...",324243,2,20201021062334
1,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,"건설업자이므로 사업장이 맞다고 생각하는데,",20201021062332,20201021103211,NaN,09:00~15:00 현장에 있으면서 현장 사진을 찍어 건설업자에게 보냈다고 합니다,"건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]09:00~15:00 현장에...",324243,1,20201021062333
2,노동,교육공무직 근로자 방학기간 주휴수당 문의드립니다.,20201021085445,관련 행정해석입니다,20201021090642,20201021101747,NaN,각급 학교의 공무직은 무기계약 근로자로서 근로를 제공하여 왔고 또한 계속적인 근로제...,관련 행정해석입니다 -> [댓글]각급 학교의 공무직은 무기계약 근로자로서 근로를 제...,324244,1,20201021090643
3,노동,해고예고 적용제외 대상의 판단기준 관련 문의,20201021154356,"우선, 소중한 질문 감사드립니다~~^^",20201021230357,20201022093206,NaN,파일을 올릴 방법이 없어 따로 메일로 보내드렸습니다.,"우선, 소중한 질문 감사드립니다~~^^ -> [댓글]파일을 올릴 방법이 없어 따로 ...",324246,1,20201021230358
4,노동,포괄임금제 항목 안에 연차수당이 포함되어 있는 경우 일할계산 기준,20201023172016,"포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은",20201025211015,20201029170446,NaN,"고정시간외근로수당, 주휴수당, 연차유급휴가미사용수당 등이 매월 고정적으로 지급된다면...","포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은 -> [...",324249,1,20201025211016

In [304]:
df_답변.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...
2,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,20090311153429,김성호,"[답변] 해고성립, 해고예고수당과 부당해고\n이번에도 앞서 답변하신 분과 다른 의견..."
3,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,20090310182444,김성호,"[답변] 임금일할계산방법, 연차와 평균임금\n참 어려운 문제입니다. 앞서 답변하신 ..."
4,노동,연차수당계산,20090313152554,20090310143729,김성호,[답변] 연차수당계산\n최근에 입사한 직원분들은 '03년 근로기준법 개정사항에 대하...

In [380]:
df_댓글3 = df_댓글2[['분야', '질문명', '등록일', '답변등록일2', '댓글등록자', '답변']]

df_댓글3 = df_댓글3.rename(columns={'답변등록일2':'답변등록일', '댓글등록자':'답변등록자'})

df_댓글3['답변등록자'] = ''

In [381]:
# '답변등록일' 컬럼이 NaN인 행 삭제
df_댓글3 = df_댓글3.dropna(subset=['답변등록일'])
df_댓글3 = df_댓글3.dropna(subset=['답변'])

In [382]:
df_댓글3.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,20201021062334,,"건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]그럼 급여도 정했을 것으로 ..."
1,노동,근로기준법 적용 대상 사업 관련 질문드립니다,20201020144804,20201021062333,,"건설업자이므로 사업장이 맞다고 생각하는데, -> [댓글]09:00~15:00 현장에..."
2,노동,교육공무직 근로자 방학기간 주휴수당 문의드립니다.,20201021085445,20201021090643,,관련 행정해석입니다 -> [댓글]각급 학교의 공무직은 무기계약 근로자로서 근로를 제...
3,노동,해고예고 적용제외 대상의 판단기준 관련 문의,20201021154356,20201021230358,,"우선, 소중한 질문 감사드립니다~~^^ -> [댓글]파일을 올릴 방법이 없어 따로 ..."
4,노동,포괄임금제 항목 안에 연차수당이 포함되어 있는 경우 일할계산 기준,20201023172016,20201025211016,,"포괄임금 포함 임금에, 연장 근로를 하지 않아도 지급하는 고정연장근로수당은 -> [..."

In [383]:
# 답변과 댓글 하나로 합친다
df_답변댓글 = pd.concat([df_답변, df_댓글3], ignore_index=True)

In [350]:
df_답변댓글.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...
2,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,20090311153429,김성호,"[답변] 해고성립, 해고예고수당과 부당해고\n이번에도 앞서 답변하신 분과 다른 의견..."
3,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,20090310182444,김성호,"[답변] 임금일할계산방법, 연차와 평균임금\n참 어려운 문제입니다. 앞서 답변하신 ..."
4,노동,연차수당계산,20090313152554,20090310143729,김성호,[답변] 연차수당계산\n최근에 입사한 직원분들은 '03년 근로기준법 개정사항에 대하...

In [384]:
# df_질문2와 df_답변을 '질문명'과 '등록일'을 기준으로 병합하여 '연번'만 가져오기
df_답변댓글2 = df_답변댓글.merge(df_질문2[['질문명', '등록일', '연번']], on=['질문명', '등록일'], how='left')

In [311]:
df_답변댓글2.columns

Index(['분야', '질문명', '등록일', '답변등록일', '답변등록자', '답변', '연번'], dtype='object')

In [312]:
df_답변댓글2.head()

,분야,질문명,등록일,답변등록일,답변등록자,답변,연번
0,노동,근로자성 판단기준을 알고 싶습니다,20090313152554,20231027153039,김덕환,붙임 근로자성 판단기준 자료를 참고하여 주십시요.\n붙임 근로자성 판단기준 자료를 ...,322002
1,노동,인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법,20090313152554,20090311154916,김호병,[답변] 인적사항을 알 수 없는 퇴직자에 대한 금품지급 시정지시의 처리방법\n사안...,322005
2,노동,"해고성립, 해고예고수당과 부당해고",20090313152554,20090311153429,김성호,"[답변] 해고성립, 해고예고수당과 부당해고\n이번에도 앞서 답변하신 분과 다른 의견...",322003
3,노동,"임금일할계산방법, 연차와 평균임금",20090313152554,20090310182444,김성호,"[답변] 임금일할계산방법, 연차와 평균임금\n참 어려운 문제입니다. 앞서 답변하신 ...",322004
4,노동,연차수당계산,20090313152554,20090310143729,김성호,[답변] 연차수당계산\n최근에 입사한 직원분들은 '03년 근로기준법 개정사항에 대하...,322006

In [385]:
# '연번' 그룹별로 '답변등록일' 기준으로 오름차순으로 순서 매기기
df_답변댓글2['답글순서'] = df_답변댓글2.groupby('연번')['답변등록일'].rank(method='first', ascending=True)

In [386]:
# NaN 인 값에는 0을 입력하고 int로 변환한다.
df_답변댓글2['답글순서'] = df_답변댓글2['답글순서'].fillna(0).astype(int)

In [387]:
# 답글순서가 0 인 행은 삭제한다.
df_답변댓글2 = df_답변댓글2[df_답변댓글2['답글순서'] != 0]

In [316]:
df_답변댓글2['답글순서'].value_counts()

답글순서
1     5748
2     2442
3     1098
4      518
5      243
6      138
7       77
8       39
9       21
10      12
11       7
12       5
13       4
14       3
17       1
16       1
15       1
Name: count, dtype: int64

In [388]:
# 답변연번 컬럼을 추가하고, 10000 부터 1씩 증가하는 값을 입력한다.
df_답변댓글2['답변연번'] = range(10000, 10000 + len(df_답변댓글2))

In [389]:
df_답변댓글2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10353 entries, 0 to 10352
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   분야      10353 non-null  object
 1   질문명     10353 non-null  object
 2   등록일     10353 non-null  object
 3   답변등록일   10353 non-null  object
 4   답변등록자   10353 non-null  object
 5   답변      10353 non-null  object
 6   연번      10353 non-null  int64
 7   답글순서    10353 non-null  int64
 8   답변연번    10353 non-null  int64
dtypes: int64(3), object(6)
memory usage: 728.1+ KB

In [390]:
# 컬럼 순서를 바꾸고 필요없는 컬럼은 버린다
df_답변댓글2 = df_답변댓글2[['답변연번', '연번', '분야', '질문명', '등록일', '답변등록일', '답변등록자', '답글순서', '답변']]

# 컬럼 이름을 바꾼다
df_답변댓글2 = df_답변댓글2.rename(columns={'연번':'게시판일련번호'})

In [391]:
df_답변댓글2.to_csv("통합_답변댓글.csv", encoding="utf-8", index=False)