In [6]:
import pandas as pd
import os

In [10]:
# 파일 경로 지정
file_path = 'd:/Workspace/data/ldap_code_full.txt'

try:
    # 지정된 경로의 파일을 읽는다.
    ldap_code = pd.read_csv(file_path, sep='\t', encoding='cp949')
except FileNotFoundError:
    print(f"오류: '{file_path}' 파일을 찾을 수 없습니다. 파일 경로를 확인해주세요.")
except pd.errors.EmptyDataError:
    print(f"오류: '{file_path}' 파일이 비어 있습니다.")
except Exception as e:
    print(f"파일을 읽는 중 오류가 발생했습니다: {e}")

C:\Users\barkl\AppData\Local\Temp\ipykernel_6172\751218952.py:6: DtypeWarning: Columns (0,4,6,7,8,11,13,14,15,16,17,18,19,20,23) have mixed types. Specify dtype option on import or set low_memory=False.
  ldap_code = pd.read_csv(file_path, sep='\t', encoding='cp949')

In [11]:
# 읽은 내용 확인
ldap_code.head()

,기관코드,전체기관명,최하위기관명,차수,서열,소속기관차수,차상위기관코드,최상위기관코드,대표기관코드,유형분류_대,...,소재지코드,나머지주소,지번,전화번호,팩스번호,생성일자,폐지일자,변경일자,존폐여부,이전기관코드
0,1,대통령,대통령,1.0,1.0,0.0,0,1,1,0.0,...,NaN,NaN,NaN,NaN,NaN,20090330,NaN,20130325.0,0,NaN
1,2,국무총리,국무총리,1.0,8.0,0.0,0,2,2,0.0,...,NaN,NaN,NaN,NaN,NaN,20090330,NaN,20130325.0,0,NaN
2,3,입법부,입법부,1.0,53.0,0.0,0,3,3,4.0,...,1111014600.0,NaN,000000000,NaN,NaN,20000101,NaN,20041110.0,0,NaN
3,4,사법부,사법부,1.0,54.0,0.0,0,4,4,5.0,...,0.0,NaN,000000000,NaN,NaN,20000101,NaN,20041110.0,0,NaN
4,5,시도,시도,1.0,57.0,NaN,0,5,5,6.0,...,NaN,NaN,NaN,NaN,NaN,20000101,NaN,20000711.0,0,NaN

In [12]:
# 컬럼명 확인
ldap_code.columns

Index(['기관코드', '전체기관명', '최하위기관명', '차수', '서열', '소속기관차수', '차상위기관코드', '최상위기관코드',
       '대표기관코드', '유형분류_대', '유형분류_중', '유형분류_소', '우편번호', '행정동코드', '소재지코드',
       '나머지주소', '지번', '전화번호', '팩스번호', '생성일자', '폐지일자', '변경일자', '존폐여부',
       '이전기관코드'],
      dtype='object')

In [13]:
# '전체기관명' 컬럼에 '노동부'가 포함된 행만 선택한다.
el_ldap_code = ldap_code[ldap_code['전체기관명'].str.contains('노동부', na=False)]
print(el_ldap_code)

           기관코드                전체기관명             최하위기관명   차수     서열  소속기관차수  \
76535   1490000                  노동부                노동부  1.0   28.0     0.0
76536   1490001               노동부 장관                 장관  2.0    1.0     0.0
76537   1490002               노동부 차관                 차관  2.0    3.0     0.0
76538   1490003              노동부 총무과                총무과  2.0    3.0     0.0
76539   1490004              노동부 공보관                공보관  2.0    3.0     0.0
...         ...                  ...                ...  ...    ...     ...
330165  9943356  노동부 서울중부지방사무소 근로감독과              근로감독과  NaN    NaN     NaN
330166  9943357  노동부 서울중부지방사무소 직업안정과              직업안정과  NaN    NaN     NaN
332093  B551076           노동부규제심사위원회         노동부규제심사위원회  2.0  248.0     NaN
332094  B551077           노동부심사평가위원회         노동부심사평가위원회  2.0  249.0     NaN
332097  B551080    노동부 행정서비스헌장 심의위원회  노동부 행정서비스헌장 심의위원회  2.0  252.0     NaN

        차상위기관코드  최상위기관코드   대표기관코드  유형분류_대  ...       소재지코드 나머지주소         지번  \
76535         0  1490000  1490000     1.0  ...  4129010700        000010000
76536   1490000  1490000  1490000     1.0  ...  4129010700   NaN  000010000
76537   1490000  1490000  1490000     1.0  ...  4129010700   NaN  000010000
76538   1490000  1490000  1490000     1.0  ...  4129010700   NaN  000010000
76539   1490000  1490000  1490000     1.0  ...  4129010700   NaN  000010000
...         ...      ...      ...     ...  ...         ...   ...        ...
330165      NaN  1490000  1490000     NaN  ...         NaN   NaN        NaN
330166      NaN  1490000  1490000     NaN  ...         NaN   NaN        NaN
332093  B000000  B000000  B000000     9.0  ...         NaN   NaN        NaN
332094  B000000  B000000  B000000     9.0  ...         NaN   NaN        NaN
332097  B000000  B000000  B000000     9.0  ...         NaN   NaN        NaN

            전화번호      팩스번호        생성일자        폐지일자        변경일자 존폐여부  \
76535   503-7171  503-9771    19810408  20100705.0  20100727.0    1
76536   503-9700  504-6708    20000101  20100705.0  20100727.0    1
76537   503-9702  503-9793    20000101  20100705.0  20100727.0    1
76538   503-9723  503-9772    20000101  20100705.0  20100727.0    1
76539   503-9714  503-8862         NaN  20050414.0  20050411.0    1
...          ...       ...         ...         ...         ...  ...
330165       NaN       NaN  19810408.0  20020526.0  20061102.0    1
330166       NaN       NaN  19810408.0  20020526.0  20061102.0    1
332093       NaN       NaN  19980301.0  20061213.0  20061213.0    1
332094       NaN       NaN  19980619.0  20061213.0  20061213.0    1
332097       NaN       NaN  19980817.0  20061213.0  20061213.0    1

                 이전기관코드
76535   1490026,1490924
76536               NaN
76537               NaN
76538               NaN
76539               NaN
...                 ...
330165              NaN
330166              NaN
332093              NaN
332094              NaN
332097              NaN

[3642 rows x 24 columns]

In [14]:
el_ldap_code.head()

,기관코드,전체기관명,최하위기관명,차수,서열,소속기관차수,차상위기관코드,최상위기관코드,대표기관코드,유형분류_대,...,소재지코드,나머지주소,지번,전화번호,팩스번호,생성일자,폐지일자,변경일자,존폐여부,이전기관코드
76535,1490000,노동부,노동부,1.0,28.0,0.0,0,1490000,1490000,1.0,...,4129010700,,000010000,503-7171,503-9771,19810408,20100705.0,20100727.0,1,"1490026,1490924"
76536,1490001,노동부 장관,장관,2.0,1.0,0.0,1490000,1490000,1490000,1.0,...,4129010700,NaN,000010000,503-9700,504-6708,20000101,20100705.0,20100727.0,1,NaN
76537,1490002,노동부 차관,차관,2.0,3.0,0.0,1490000,1490000,1490000,1.0,...,4129010700,NaN,000010000,503-9702,503-9793,20000101,20100705.0,20100727.0,1,NaN
76538,1490003,노동부 총무과,총무과,2.0,3.0,0.0,1490000,1490000,1490000,1.0,...,4129010700,NaN,000010000,503-9723,503-9772,20000101,20100705.0,20100727.0,1,NaN
76539,1490004,노동부 공보관,공보관,2.0,3.0,0.0,1490000,1490000,1490000,1.0,...,4129010700,NaN,000010000,503-9714,503-8862,NaN,20050414.0,20050411.0,1,NaN

In [15]:
# 존폐여부 변수로 groupby
el_ldap_code.groupby('존폐여부').size()

존폐여부
0     597
1    3045
dtype: int64

In [18]:
# 존폐여부가 1이 아닌 자료만 선택해 보자
el_ldap_code_live = el_ldap_code[el_ldap_code['존폐여부'] != 1]
el_ldap_code_live.info()

<class 'pandas.core.frame.DataFrame'>
Index: 597 entries, 78457 to 79825
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기관코드     597 non-null    object
 1   전체기관명    597 non-null    object
 2   최하위기관명   597 non-null    object
 3   차수       597 non-null    float64
 4   서열       597 non-null    object
 5   소속기관차수   597 non-null    float64
 6   차상위기관코드  597 non-null    object
 7   최상위기관코드  597 non-null    object
 8   대표기관코드   597 non-null    object
 9   유형분류_대   597 non-null    float64
 10  유형분류_중   597 non-null    float64
 11  유형분류_소   597 non-null    object
 12  우편번호     349 non-null    float64
 13  행정동코드    0 non-null      object
 14  소재지코드    199 non-null    object
 15  나머지주소    214 non-null    object
 16  지번       199 non-null    object
 17  전화번호     201 non-null    object
 18  팩스번호     85 non-null     object
 19  생성일자     597 non-null    object
 20  폐지일자     0 non-null      object
 21  변경일자     597 non-null    float64
 22  존폐여부     597 non-null    int64
 23  이전기관코드   18 non-null     object
dtypes: float64(6), int64(1), object(17)
memory usage: 116.6+ KB

In [21]:
# 중복된 행 확인
duplicate_rows = el_ldap_code.duplicated()
num_duplicate_rows = duplicate_rows.sum()

if num_duplicate_rows > 0:
    print(f"'{sheet_name}' 시트에 총 {num_duplicate_rows}개의 중복된 행이 있습니다.")
    # 중복된 행 제거 (첫 번째 행 유지)
    el_ldap_code = el_ldap_code.drop_duplicates()
    print("중복된 행을 제거했습니다.")
else:
    print(f"'{sheet_name}' 시트에 중복된 행이 없습니다.")

'직종코드' 시트에 중복된 행이 없습니다.

In [19]:
# CSV 파일을 저장할 디렉토리 (선택 사항, 없으면 스크립트와 같은 위치에 저장)
output_directory = "code_table"

# 출력 디렉토리가 없으면 생성
if not os.path.exists(output_directory):
    os.makedirs(output_directory)
    print(f"'{output_directory}' 디렉토리를 생성했습니다.")

# 출력할 CSV 파일 경로 (시트 이름을 파일명으로 사용)
# os.path.join을 사용하여 운영체제에 맞는 경로 구분자로 파일 경로를 만듭니다.
csv_file_name = 'el_ldap_code.csv'
csv_file_path = os.path.join(output_directory, csv_file_name)

# 데이터프레임을 CSV 파일로 출력 (인덱스 제외)
el_ldap_code.to_csv(csv_file_path, index=False, encoding='utf-8-sig')
print(f"'{sheet_name}' 시트의 데이터프레임을 '{csv_file_path}' 파일로 저장했습니다.")

'직종코드' 시트의 데이터프레임을 'code_table\el_ldap_code.csv' 파일로 저장했습니다.

In [ ]:
# 엑셀 파일 경로
excel_file_path = "250523_code_table_v2.xlsx"
# 시트 이름 리스트
sheet_names = ['공무원구분코드', '직군코드', '직렬코드', '직류코드', '계급코드', '직급코드', '직종코드']

# 엑셀 파일 자체를 한번만 열기 (성능 향상 가능)
xls = pd.ExcelFile(excel_file_path)

# 각 시트 이름을 순회하며 작업 수행
for sheet_name in sheet_names:
    print(f"\n--- '{sheet_name}' 시트 처리 중 ---")
    try:
        # 지정된 시트 이름을 사용하여 데이터프레임으로 읽어오기
        dataframe = pd.read_excel(xls, sheet_name=sheet_name, dtype=str)        

        # 중복된 행 확인
        duplicate_rows = dataframe.duplicated()
        num_duplicate_rows = duplicate_rows.sum()

        if num_duplicate_rows > 0:
            print(f"'{sheet_name}' 시트에 총 {num_duplicate_rows}개의 중복된 행이 있습니다.")
            # 중복된 행 제거 (첫 번째 행 유지)
            dataframe_without_duplicates = dataframe.drop_duplicates()
            print("중복된 행을 제거했습니다.")
        else:
            print(f"'{sheet_name}' 시트에 중복된 행이 없습니다.")
            dataframe_without_duplicates = dataframe

        # 출력할 CSV 파일 경로 (시트 이름을 파일명으로 사용)
        # os.path.join을 사용하여 운영체제에 맞는 경로 구분자로 파일 경로를 만듭니다.
        csv_file_name = f"{sheet_name}.csv"
        csv_file_path = os.path.join(output_directory, csv_file_name)

        # 데이터프레임을 CSV 파일로 출력 (인덱스 제외)
        dataframe_without_duplicates.to_csv(csv_file_path, index=False, encoding='utf-8-sig')
        print(f"'{sheet_name}' 시트의 데이터프레임을 '{csv_file_path}' 파일로 저장했습니다.")

    except KeyError:
        print(f"오류: '{excel_file_path}' 파일에 '{sheet_name}' 시트를 찾을 수 없습니다. 시트 이름을 확인해주세요.")
    except Exception as e:
        print(f"'{sheet_name}' 시트 처리 중 오류가 발생했습니다: {e}")

--- '공무원구분코드' 시트 처리 중 ---
'공무원구분코드' 시트에 중복된 행이 없습니다.
'공무원구분코드' 시트의 데이터프레임을 'code_table\공무원구분코드.csv' 파일로 저장했습니다.

--- '직군코드' 시트 처리 중 ---
'직군코드' 시트에 총 9194개의 중복된 행이 있습니다.
중복된 행을 제거했습니다.
'직군코드' 시트의 데이터프레임을 'code_table\직군코드.csv' 파일로 저장했습니다.

--- '직렬코드' 시트 처리 중 ---
'직렬코드' 시트에 중복된 행이 없습니다.
'직렬코드' 시트의 데이터프레임을 'code_table\직렬코드.csv' 파일로 저장했습니다.

--- '직류코드' 시트 처리 중 ---
'직류코드' 시트에 중복된 행이 없습니다.
'직류코드' 시트의 데이터프레임을 'code_table\직류코드.csv' 파일로 저장했습니다.

--- '계급코드' 시트 처리 중 ---
'계급코드' 시트에 중복된 행이 없습니다.
'계급코드' 시트의 데이터프레임을 'code_table\계급코드.csv' 파일로 저장했습니다.

--- '직급코드' 시트 처리 중 ---
'직급코드' 시트에 중복된 행이 없습니다.
'직급코드' 시트의 데이터프레임을 'code_table\직급코드.csv' 파일로 저장했습니다.

--- '직종코드' 시트 처리 중 ---
'직종코드' 시트에 총 6개의 중복된 행이 있습니다.
중복된 행을 제거했습니다.
'직종코드' 시트의 데이터프레임을 'code_table\직종코드.csv' 파일로 저장했습니다.