In [1]:
# 라이브러리 호출
import pandas as pd

In [2]:
# 시군구 사업체수, 종사자수 엑셀 파일의 모든 컬럼을 문자열로 읽어오기
df_sgg = pd.read_excel('사업체노동실태조사(v3)_시군구.xlsx', dtype=str)

In [3]:
# df_sgg의 '사업체수_22' 컬럼의 값들 알파벳순으로 확인하기
df_sgg.sort_values(by='사업체수_22')['사업체수_22'].unique()

array(['-', '1000', '10014', '1019', '10305', '10338', '10502', '10575',
       '10627', '10701', '1079', '11120', '11145', '11181', '1120',
       '11211', '11315', '11428', '1155', '1160', '11667', '11742',
       '1180', '1193', '1199', '1213', '12240', '12336', '1243', '12512',
       '1252', '1261', '12614', '1267', '1283', '12844', '13052', '13090',
       '13127', '1317', '1333', '1349', '1364', '13652', '13784', '1383',
       '1392', '14089', '14159', '14301', '1432', '1446', '14478',
       '14543', '14627', '14705', '1475', '14884', '1514', '15417',
       '1578', '15807', '15834', '1624', '1629', '1643', '16650', '17051',
       '1707', '1709', '1722', '17392', '17516', '17674', '1776', '1809',
       '1819', '1833', '1842', '1869', '18907', '18916', '1911', '19277',
       '1998', '2001', '20426', '2046', '20795', '2096', '2122', '2132',
       '2139', '21937', '2197', '22001', '22104', '22206', '22406',
       '2243', '2269', '2276', '22762', '2284', '2295', '2308', '23924',
       '24405', '2491', '25193', '25317', '2555', '25746', '2579',
       '25791', '25797', '2599', '26095', '2653', '27089', '2716',
       '27365', '2742', '28692', '30077', '30222', '3103', '31089',
       '3118', '3123', '3230', '3298', '3465', '3472', '34829', '3600',
       '3629', '3637', '3696', '37031', '3733', '37815', '3785', '3792',
       '3808', '38209', '38356', '3938', '3959', '39831', '3998', '4047',
       '4103', '4339', '4428', '4449', '4561', '4638', '4655', '470',
       '4852', '4919', '50309', '5096', '5276', '5388', '5405', '5540',
       '5547', '566', '5733', '5776', '5846', '58787', '5980', '6186',
       '6332', '6378', '6525', '6564', '6706', '674', '6767', '6836',
       '686', '6896', '6948', '7001', '7050', '7079', '709', '7148',
       '7283', '7330', '7675', '7702', '778', '7845', '7919', '7920',
       '7964', '8050', '816', '8218', '8323', '8380', '856', '858', '880',
       '8849', '8855', '890', '9068', '9073', '9159', '919', '9271',
       '9293', '9678', '977', '9815', '9879', '9888', '9920', '993',
       '9974', '9980'], dtype=object)

In [63]:
# df_sgg 정보 확인
df_sgg.head()

   연번  광역시도1 광역시도2 시군구명     지역명  지역코드  사업체수_22  종사자수_22  사업체수_23  종사자수_23
0   1  서울특별시    서울  종로구  서울 종로구  서울01    19277   223726    19559   216723
1   2  서울특별시    서울   중구   서울 중구  서울02    27089   320703    27558   351778
2   3  서울특별시    서울  용산구  서울 용산구  서울03    10575   118077    11980   130756
3   4  서울특별시    서울  성동구  서울 성동구  서울04    18916   173459    18489   168704
4   5  서울특별시    서울  광진구  서울 광진구  서울05    11742    98012    11732    99518

In [52]:
# df_sgg 의 사업체수_22 컬럼을 정수형으로 변환하는데, '-' 값은 0으로 변환
df_sgg['사업체수_23'] = df_sgg['사업체수_23'].replace('-', 0)
df_sgg['사업체수_23'] = df_sgg['사업체수_23'].astype(int)

df_sgg['종사자수_23'] = df_sgg['종사자수_23'].replace('-', 0)
df_sgg['종사자수_23'] = df_sgg['종사자수_23'].astype(int)

df_sgg['사업체수_22'] = df_sgg['사업체수_22'].replace('-', 0)
df_sgg['사업체수_22'] = df_sgg['사업체수_22'].astype(int)

df_sgg['종사자수_22'] = df_sgg['종사자수_22'].replace('-', 0)
df_sgg['종사자수_22'] = df_sgg['종사자수_22'].astype(int)

C:\Users\barkl\AppData\Local\Temp\ipykernel_8468\54990694.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_sgg['종사자수_23'] = df_sgg['종사자수_23'].replace('-', 0)
C:\Users\barkl\AppData\Local\Temp\ipykernel_8468\54990694.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_sgg['사업체수_22'] = df_sgg['사업체수_22'].replace('-', 0)
C:\Users\barkl\AppData\Local\Temp\ipykernel_8468\54990694.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_sgg['종사자수_22'] = df_sgg['종사자수_22'].replace('-', 0)

In [68]:
print(df_sgg['사업체수_23'].sum())
print(df_sgg['종사자수_23'].sum())
print(df_sgg['사업체수_22'].sum())
print(df_sgg['종사자수_22'].sum())

2124670
19159335
2099955
18835715

In [56]:
# 지방관서 관할, 정원 파일을 읽을 때 연번 컬럼을 텍스트로 읽기
df_br = pd.read_excel('250717_지방관서_관할_정원.xlsx', dtype={'연번': str})

In [57]:
# df_br 정보 확인
df_br.info()
df_br.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      48 non-null     object
 1   청       48 non-null     object
 2   지청      48 non-null     object
 3   관할      48 non-null     object
 4   정원      48 non-null     int64
 5   산안      48 non-null     int64
 6   근로      48 non-null     int64
dtypes: int64(3), object(4)
memory usage: 2.8+ KB

   연번    청    지청                               관할   정원  산안   근로
0  01  서울청   서울청   서울 중구, 서울 종로구, 서울 서초구, 서울 동대문구  146  35  111
1  02  서울청  서울강남                           서울 강남구   88   8   80
2  03  서울청  서울동부   서울 성동구, 서울 광진구, 서울 송파구, 서울 강동구   82  10   72
3  04  서울청  서울서부  서울 용산구, 서울 마포구, 서울 서대문구, 서울 은평구   71   8   63
4  05  서울청  서울남부          서울 영등포구, 서울 강서구, 서울 양천구   75   9   66

In [58]:
# 지역명 -> 사업체수 딕셔너리로 변환
sgg_dict = df_sgg.set_index('지역명')['사업체수_23'].to_dict()

In [ ]:
# 함수 정의: 관할 문자열 -> 해당 지역 사업체수 총합
def get_total_biz_count(관할_str):
    지역들 = [지역.strip() for 지역 in 관할_str.split(',')]
    return sum(sgg_dict.get(지역, 0) for 지역 in 지역들)

df_br['사업체수_23'] = df_br['관할'].apply(get_total_biz_count)

In [60]:
df_br['사업체수_23'] = df_br['관할'].apply(get_total_biz_count)

In [61]:
df_br['사업체수_23'].sum()

2111816

In [62]:
2124260-2111816

12444

In [37]:
# 1. 지역명 목록 (df_sgg 기준)
sgg_names = set(df_sgg["지역명"])

# 2. 관할 문자열에서 추출된 모든 지역명을 순회하며 확인
unmatched_regions = set()

for 관할_str in df_br["관할"]:
    지역들 = [지역.strip() for 지역 in 관할_str.split(",")]
    for 지역 in 지역들:
        if 지역 not in sgg_names:
            unmatched_regions.add(지역)

# 3. 결과 출력
print("매칭되지 않는 지역명 목록:")
for 지역 in sorted(unmatched_regions):
    print("-", 지역)

매칭되지 않는 지역명 목록: